html,
body {
  padding: 0;
  margin: 0;
  font-size: 10pt;
  font-family: Verdana, Geneva, sans-serif;
  color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
