.container {
  min-height: 100vh;
  min-width: 796px;
  width: 85%;
  margin: auto;
  background-color: rgb(246, 246, 239);
}

.header {
  background-color: rgb(255, 102, 0);
  padding: 2px;
}

.header a {
  color: #000000;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
}

.footer a {
  color: #000000;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
}

.footer a:visited {
  color:#828282;
  text-decoration:none;
}

.footer .miniSection {
  text-align: center;
  font-size: 8pt;
  margin: 1em 0;
}

.active {
  color: #ffffff;
}

.border {
  border: 1px white solid;
}

.lineBreak {
  height: 2px;
  border: none;
  background-color: rgb(255, 102, 0);
}

.cardWrapper {
  display: flex;
  font-size: 10pt;
}

.cardWrapper .countNumber {
  display: block;
  margin: 4px;
}

.card {
  display: block;
  margin: 4px;
}

.card p,
.card a {
  font-size: 8pt;
  color: #828282;
}

.card a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
}
