.container {
  min-height: 100vh;
  min-width: 796px;
  width: 85%;
  margin: auto;
  background-color: rgb(246, 246, 239);
}

.cardWrapper {
  display: flex;
  font-size: 10pt;
}

.cardWrapper .countNumber {
  display: block;
  margin: 4px;
}

@media (max-width: 600px) {
}
